<html>
<head>
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>

  <section id="pos_app">
    <h1 class="title"></h1>
    <input id="new_item" placeholder="What did you buy?" autofocus></input>

    <ul id="basket_list"><li class="active">
    <div class="view">
      <label class="name"></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value=""></input>
    </li></ul>

  </div>
</section>
</body>
</html>
